.one-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 9px;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 9px;
  z-index: 10;
  border: 1px solid #eaeaea;

  z-index: 10;
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      width: 200px;
      height: 200px;
    }
    .img-icon {
      background-color: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -114px;
      border: 1px solid rgb(224, 224, 224);
      cursor: pointer;
      z-index: 3;
      .heart-icon {
      }
    }
  }

  .second-section {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content:center;
    align-items: center;
    width: 100px;
    font-weight: 500;
    .title {
      color: rgb(144, 124, 124);
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .prod-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: rgb(144, 124, 124);
      .right-side {
        display: flex;
        flex-direction: row;
        // align-items: space-between;
        .star-icon {
          margin-top: 2px;
          margin-right: 2px;
        }
      }
      .last {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .price {
          color: red;
        }
      }
    }
  }
}
