.side-drawer-container {
width: 230px;
transition: width 0.3sease;
&.expand{
  width: 60px;
}
  .logo-container {
    display: flex;
    flex-direction: row;
    padding: 13px;
    border: 1px solid #ebecf2;
    border-bottom: none;
    background-color: white;

    .product {
      font-weight: bolder;
      margin-top: 9px;
      
    }
  }
  .main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebecf2;
    height: 400px;
    background-color: white;

    overflow: overlay;
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &::-webkit-scrollbar-track {
      background: #ebecf2;
    }
    .section-container{
           display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      .section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        .section-icon{
          margin-right: 20px;
        }
      }
    }

    // .icon-type {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   padding: 15px;
    //   .icon-typee {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;

    //     .icon2 {
    //       margin-right: 10px;
    //     }
    //   }
    //   .icon-name-arrowicon {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     .arrow-icon {
    //       align-items: center;
    //     }
    //   }
    // }
    // & .box {
    //   // padding: 15px 20PX;
    //   .openArrow {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     background-color: #f1f2f69f;
    //     border-radius: 5;
    //     .arrow-icon {
    //       align-items: center;
    //     }
    //     .icon-typee {
    //       display: flex;
    //       flex-direction: row;
    //       align-items: center;
  
    //       .icon2 {
    //         margin-right: 10px;
    //       }
    //     }
    //   }
    //   .children {
    //     background-color: #f1f2f69f;
    //     display: block;
    //     font-size: medium;
    //     padding: 6px;
    //     color: rgb(126, 112, 112);
    //     padding-left: 33px;
    //     &.expand{
    //       position: absolute;
    //       left: 60px;
    //       margin-top: -32px;
    //     }
    //     .child {
    //       padding: 3px;
    //     }
    //   }
    // }
  }
  .not-setting {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebecf2;
    border-bottom: none;
    height: 169px;
    background-color: white;

    .settings {
      display: flex;
      flex-direction: row;
      padding: 26px;
      padding: 15px 20PX;

      .not-setting-icon {
        margin-right: 10px;
      }
    }
    .notification {
      display: flex;
      flex-direction: row;
      padding: 26px;
      padding: 15px 20px;

      .not-setting-icon {
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .side  {
    display:none;
  }
  .side-drawer-container{
    width:fit-content;
  }


}





