.container {
    width: 30%;
    /* text-align:  center; */
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #ebecf2;
    border-bottom: none;
  
  }
  
  
  .product {
    font-weight: bolder;
    margin-top: 9px;
  }
  .icon-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px;
  }
  .icon-name-arrowicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-typee {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebecf2;
    height: 400px;
    overflow :overlay;
  }
  .icon2 {
    margin-right: 10px;
  }
  .arrow-icon {
    align-items: center;
  }
  .not-setting {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebecf2;
  }
  .notification {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 26px;
  }
  
  .settings {
    display: flex;
    flex-direction: row;
    padding: 26px;
  }
  .not-setting-icon {
    margin-right: 10px;
  }
  .children {
    background-color: #f1f2f69f;
    display: block;
    font-size: medium;
    padding: 6px;
    color: rgb(126, 112, 112);
    padding-left: 25px;
  }
  .child {
    padding: 3px;
  }
  .openArrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f2f69f;
    padding: 6px 3px;
    border-radius: 5;
  }
  .box {
    padding: 15px;
  }
  /* Track */
  ::-webkit-scrollbar {
      width: 3px; /* Width of the scrollbar */
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; /* Color of the scrollbar handle */
      border-radius: 2px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color of the scrollbar handle on hover */
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background:#ebecf2; /* Color of the scrollbar track */
    }
  