.container-side-drawer {
  position: fixed;
  height: 100vh;
  background-color: #ebecf28f;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  &.container-close {
    position: fixed;
    background-color: unset;
    left: 300vh;
    width: 220vh;
  }

}

.popup2 {
  background-color: #ffffff;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 415px;
  transition: right 1s;
  position: absolute;
  &.open {
    right: 0px;
    z-index: 5000000;
  }
  &.close {
    right: -500px;
  }
  .popup-content {
    height: 100vh;

    .header-section {
      height: 45px;
      background-color: rgb(247 247 247);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;

      .title {
        font-size: 15px;
        font-weight: 500;
      }
      svg {
        cursor: pointer;
      }
    }

    .body-container {
      overflow-y: overlay;
      height: calc(100vh - 95px);
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
      }
    }

    .footer-container {
      height: 40px;
    }
  }
}
