.single-product-container {
  display: flex;
  grid-template-columns: repeat(2, 40%);
  gap: 35px;
  justify-content:center;
  margin-top: 100px;
height: calc( 100vh - 150px);
  .first-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .small-img {
      display: flex;
      flex-direction: column;
      gap: 10px;
      opacity: 0.5;
      .img {
        width: 50px;
        height: 50px;
      }
    }
    .large-img {
      .img {
        width: 500px;
        height: 400px;
      }
    }
  }
  .second-section {
    display: flex;
    flex-direction: column;
    gap: 13px;
    .title{
        color:black;
        font-weight: bolder;
        font-size: 30px;
    }
    .price{
color: rgb(137, 120, 120);
font-weight: 700;
    }
    .section-one {
      display: flex;
      flex-direction: row;
        align-items: center;
        color:  rgb(137, 120, 120);
        font-weight: 500;
      .dot {
        height: 8px;
        width: 8px;
        background-color:  rgb(137, 120, 120);
        border-radius: 50%; /* تحويل النقطة إلى دائرة */
        // display: inline-block;
        margin-right: 10px; /* تحديد المسافة بين النقاط */
      }
    }
    .btn{
        padding: 13px;
        margin-top: 20px;
        background-color: rgb(9, 23, 9);
        color: white;
        font-weight: 550;
      border-radius: 5px;
    }
  }

  .colors-chips-container {
    margin: 10px 0px;
  }
}
