.imges-list-container {
  padding: 20px;
  .img-input-container {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

    button {
      margin-top: 29px;
    }
  }
}
