.orders-container {
  .no-order {
    margin-left: 43%;
    margin-top: 10%;
    color: #231942;
    font-weight: 600;
  }
  .orders-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    border: 1px solid #dee2e6;

    .information {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .information-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: none;
      background-color: #6c757d00;
      font-size: 15px;
      font-weight: 600;
      color: #231942;
      cursor: pointer;
    }

    .order-item-container {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      height: 40px;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #6c757d;
      border-radius: 5px;
    }

    .header-list {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      border-bottom: 1px solid #dee2e6;
      height: 40px;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #6c757d;
    }
  }
}
