.cart-content {
  display: flex;
  flex-direction: column;

  .total-price-text {
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    span {
      font-weight: 800;
    }
  }

  .cart-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .one-product-section {
      display: grid;
      grid-template-columns: 3fr 3fr 3fr 4fr 2fr 2fr 1fr;

      .cart-img {
        height: 100px;
        width: 100px;
      }

      .description,
      .price,
      .total-price,
      .delete-product,
      .size-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        font-family: sans-serif;
      }
      .delete-product {
        cursor: pointer;
      }
      .quantity-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .quantity-section {
          height: 30px;
          border: 1px solid rgb(235, 235, 235);
          border-radius: 5px;
          width: max-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }

        button {
          border-radius: 5px;
          outline: none;
          border: none;
          height: 30px;
          width: 30px;
          background-color: #ffffff00;
          color: #000;
          // border-color: #7f5539;
          cursor: pointer;
          font-size: 25px;
        }
      }
      .chip-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .chip {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 2px solid #d3d1d1;
          cursor: pointer;

          &.black {
            background-color: black;
          }
          &.white {
            background-color: white;
          }
          &.gray {
            background-color: gray;
          }
          &.blue {
            background-color: blue;
          }
          &.sky-blue {
            background-color: skyblue;
          }
          &.Turquoise {
            background-color: Turquoise;
          }
          &.teal {
            background-color: teal;
          }
          &.green {
            background-color: green;
          }
          &.olive-green {
            background-color: olive;
          }
          &.lime-green {
            background-color: limegreen;
          }
          &.yellow {
            background-color: yellow;
          }
          &.gold {
            background-color: #ffd700;
          }
          &.orange {
            background-color: #ffa500;
          }
          &.red {
            background-color: #ff0000;
          }
          &.Burgundy {
            background-color: #800020;
          }
          &.pink {
            background-color: #ffc0cb;
          }
          &.magenta {
            background-color: #ff00ff;
          }
          &.purple {
            background-color: #800080;
          }
          &.lavender {
            background-color: #e6e6fa;
          }
          &.brown {
            background-color: #a52a2a;
          }
          &.beige {
            background-color: #f5f5dc;
          }
          &.cream {
            background-color: #fffdd0;
          }
          &.tan {
            background-color: #d2b48c;
          }
          &.charcoal {
            background-color: #36454f;
          }
          &.slate {
            background-color: #708090;
          }
          &.steel-blue {
            background-color: #4682b4;
          }
          &.indigo {
            background-color: #4b0082;
          }
          &.cyan {
            background-color: #00ffff;
          }
          &.mint-green {
            background-color: #98ff98;
          }
        }
      }
      .size-chip {
        border: 1px solid rgb(235, 235, 235);
        border-radius: 50%;
        padding: 3px 6px;
        font-size: 14px;
      }
    }
  }
}
