.filter-container {
  position: relative;

  .title-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 3px;
  }

  .inside-filter {
    .children {
      position: absolute;
      top: 35px;
      right: 0px;
      width: 100px;
      border-radius: 3px;
      border: 1px solid #ebecf2;
      &::before {
        content: "";
        position: absolute;
        top: -4px;
        right: 10px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 8px solid #ebecf2;
        transform: translateY(-50%) rotate(90deg);
      }

      .single-section {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 7px 10px;
        border-bottom: 1px solid #ebecf2;
      }
    }
  }
}
