.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-section {
    height: 350px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    padding: 40px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px rgb(227 92 180);

    .login-title {
      color: var(--element-color);

      margin-bottom: 20px;
      font-weight: bold;
      font-size: large;
    }
    .fields-container {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    .login-btn {
      width: 130px;
      margin-top: 30px;
      border: none;
      color: white;
      background-color: #231942;
      height: 35px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
    }
    .note-container {
      font-size: 13px;
      font-weight: 500;
      color: var(--element-color);
      line-height: 30px;
      cursor: pointer;
      margin-top: 60px;

      .register {
        margin-left: 5px;
      }
    }
  }
}
