.edit-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 25%;
  column-gap: 10%;
  position: relative;
  z-index: 2000;
  .left-dev {
    margin-left: 15px;
    .first-sentence {
      margin: 30px;
    }

    .input-container {
      .section-one {
        display: grid;
      }
      .second-section {
        display: grid;
        grid-template-columns: 50% 48%;
        grid-row-gap: 20px;
        grid-column-gap: 10px;
      }
      .third-section {
        display: grid;
        grid-template-columns: 50% 48%;
        grid-row-gap: 20px;
        grid-column-gap: 10px;
      }
      .edit-btn {
        width: 160px;
        margin: 20px 0;
        font-size: small;
        background-color: #231942;
        color: #fff;
      }
    }
  }
  .picture-container {
    margin-top: 100px;

    .profile-dev {
      .edit-picture {
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .edit-container .left-dev .input-container .second-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .edit-container .left-dev .input-container .third-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .edit-container {
    display: flex;
    flex-direction: column;
    .profile-dev {
      display: none;
    }
    .text-field-container,
    .img-upload-container {
      width: 300px;
    }
  }
}
