.dropdown-container {
  z-index: 200;
  position: relative;
  justify-content: center;
  align-items: center;
 display: flex;
 flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  height: 20px;
/* border:  1px solid rgb(209, 189, 189); */
}
.dropdown-container .opt {
  padding: 25px;
  font-size: 14px;
  color: rgba(20, 36, 82, 1);
  /* width: 30px; */
}
.dropdown-container .des {
  padding-bottom: 10px;
  color: rgba(20, 36, 82, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
}
.dropdown-container .select {
  display: flex;
  flex-direction: row;
margin-right: 10px;
  color: rgb(60, 87, 169);
  /* border: 1px solid rgba(235, 236, 242, 1); */
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  align-items: center;
  width: 130px;
}
.dropdown-container .options {
  position: absolute;
  top: 25px;
  right: 0px;
  bottom: 0px;
  left: -20px;
  height: 140px;
  overflow: overlay;
  background-color:white;
  color: white;
  /* padding-top: 10px; */
  width: 150px;
  border: none;

}
.default {
  color: rgba(186, 189, 204, 1);
  width: 130px;
}

.dropdown-container .options::-webkit-scrollbar {
  width: 3px;
}

.dropdown-container .options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-container .options::-webkit-scrollbar-thumb {
  background: #888;
}

.dropdown-container .options::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dropdown-container .selected {
  background-color: rgba(235, 236, 242, 1);
  
}
