.outer-container {
  .header-container {
    width: 100%;
    display: grid;
    padding: 0px 80px;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50px;
    background-color: #231942;
    font-family: cursive;
    font-weight: 600;
    align-items: center;
    font-size: 39;

    .name {
      display: flex;
      flex-direction: row;
    }
    .login {
      color: white;
      font-size: larger;
    }
  }
  .login {
    font-size: larger;
    cursor: pointer;
  }
  .img-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img {
      width: 114px;
      height: 94px;
    }
    .title {
      font-size: 33px;
      font-weight: 700;
      font-family: cursive;
    }
  }
  .slider-container {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .outer-container {
    height: auto;
    display: flex;

    flex-direction: row;
    align-items: center;

    .main-icon {
      padding-left: 20px;
    }
    .app-name {
      color: #fff;
      font-size: 16px;
      font-size: 500;
      margin-left: 30px;
    }
    .header-container {
      display: flex;
      flex-direction: column !important;
      position: absolute;

      z-index: 10000;
      width: 10;
      left: 0;
      top: 57px;
      align-items: start;
      background-color: unset;
      padding: 0;
      transition: left 0.7s ease;
      &.hide {
        left: -141px;
        // background-color: transparent;
      }
    }
    .options-tabs-container {
      width: 141px;
      position: relative;
      bottom: 16px;
    }

    .options-tabs-container .title {
      color: #ffdec8;
      background-color: #231942;
      height: 35px;
      font-size: 12px;
    }
    .options-tabs-container .children {
      top: 35px;

      .label {
        font-size: 12px;
        height: 35px;
        background-color: #5e548e;

        &:hover {
          background-color: #9f86c0;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon-name {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gray;
      height: 40px;
      .app-name {
        margin-right: 30px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    display: flex;
    flex-direction: row;
  }
}
